
.main {
	width: 1440px;
	height: 1700px;
	margin: 0px auto;
	background-color: #e8e8e8;
	overflow:auto;
position: relative;
}
.content {
width: 1190px;
height: 1064px;
position: relative;
margin: 106px 108px 0px 142px;
padding-top: 62px;
}

.content::before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	opacity: 0.24;
	background-image: url('../resources/lines.png');
}
.travel{
position: relative;
margin: 0px 594px 0px 529px;
opacity: 0.6;
font-family: Arial;
font-size: 14px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.2em;
color: #273d46;
}
.header{
text-align:center;
margin: 8px 260px 0px 205px;
line-height: 50px;
font-family: 'Times New Roman';
font-size: 36px;
color: #273d46;
}
.picture{
margin: 67px 202px 0px 147px;
width: 841px;
height: 561px;
box-shadow: 0px 15px 65px 0px rgba(15,16,16,0.15);
background: white;
position: relative;
z-index: 1;

}
.img{
	width: 821px;
height: 541px;
margin: 10px;
}
.text{
	opacity: 0.8;
	font-family: 'Times New Roman';
	font-size: 24px;
	line-height: 40px;
	font-weight: 400;
	color: #273d46;
	position: absolute;
	top: 1016px;
	left: 334px;
	margin-right: 370px;	

}
.list{
	margin: 167px 652px 0px 330px;
font-family: Arial;
font-size: 20px;
line-height: 36px;
font-weight: 400;
}
.list li{
	padding-left: 25px;
	background: url('../resources/li.png') left no-repeat;
}.list li:first-child{
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
color: #273d46;
}
.list li:last-child{
	opacity: 0.3;
	text-decoration: line-through;
	color: #273d46;
}
.list li:nth-child(2){
	font-style: italic;
	color: #80b7b3;
}
.list li:nth-child(3){
	font-weight: 700;
	color: #273d46;
}

button{
	margin: 59px 911px 0px 330px;
width: 199px;
height: 44px;
box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
border-radius: 50px;
background-color: rgba(128,183,179);
}
.btnText{
	margin-right: 7px;
	margin-left: 10px;
display: inline;
font-family: Arial;
padding-right: 40px;
font-size: 14px;
line-height: 40px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.2em;
color: #ffffff;
background: url('../resources/arrow.png') right no-repeat;
}